# .gitignore

.env

ignore

__pycache__/
*.pyc
*.log
logs

# pytest
.pytest_cache
.coverage

# ruff
.ruff_cache

# --- UV ---
.venv/
uv.lock
.uv/

# .vscode

# sqlite3
*.db

# fixtures
tests/email_fixtures