# SPDX-License-Identifier: AGPL-3.0-or-later
# docker-compose.yml

services:
  api:
    user: "${UID}:${GID}"
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
      - "5678:5678"
      - "5679:5679"
    env_file:
      - .env
      - ./backend/.env
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
            - __pycache__/
            - .git/
            - .pytest_cache/
            - .env
  
        - action: rebuild
          path: ./uv.lock
    volumes:
      - ./backend/tests/email_fixtures:/app/tests/email_fixtures
    command: >
      python -Xfrozen_modules=off -m debugpy
      --listen 0.0.0.0:5678
      --wait-for-client
      -m uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload

  postgres:
      image: postgres:16-alpine
      restart: unless-stopped
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - "5432:5432"
      volumes:
        - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: